
{{> page/nav}}

<div class="pages col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
	<!-- Start Of Page 1 -->
	<div class="page hidden"  id="page1">
		<h1>Home</h1>

	</div>

	<!-- Start Of Page 2 -->
</div>