{{> page/nav}}

<div class="pages col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

    <div class="remote col-xs-12">

        <!-- TV CONTROLS-->
        <div class="switchBox col-xs-12">
            <h3 class="text-center">TV Controls</h3>

            <div class ="center ">
                <!--LG TV Power Command Code 24-->
                <button class="col-xs-3 .btn .btn-default gravatar transitions command glyphicon glyphicon-off"  data-id="2" data-command="4">

                </button>

                <!--LG TV Volume Up Command Code 21-->
                <button class="col-xs-3 .btn .btn-default gravatar transitions command glyphicon glyphicon-volume-up"  data-id="2" data-command="1">




                </button>

                <!--LG TV Volume Down Command Code 23-->
                <button class="col-xs-3 .btn .btn-default gravatar transitions command glyphicon glyphicon-volume-down"  data-id="2" data-command='3'>




                </button>

                <!--LG TV INPUT Command Code 25-->
                <button class="col-xs-3 .btn .btn-default gravatar transitions command glyphicon glyphicon-log-in"  data-id="2" data-command="5">




                </button>

                <!--LG TV OK Command Code 26-->
                <button class="col-xs-3 .btn .btn-default gravatar transitions command glyphicon glyphicon-ok"  data-id="2" data-command="6">




                </button>
            </div>
        </div>




        <!--MUSIC CONTROLS-->
        <div class="switchBox">
            <div class="center">
                <h3>Music Controls</h3>
                <button class="col-xs-3 .btn .btn-default gravatar transitions command glyphicon glyphicon-music"  data-id="3" data-command="1">




                </button>

                <!--Music Volume Up Command Code 33-->
                <button class="col-xs-3 .btn .btn-default gravatar transitions command glyphicon glyphicon-volume-up"  data-id="3" data-command="3">




                </button>

                <!--Music Volume Down Command Code 34-->
                <button class="col-xs-3 .btn .btn-default gravatar transitions command glyphicon glyphicon-volume-down"  data-id="3" data-command="4">




                </button>

                <!--Music AUX code 35-->
                <button class="col-xs-3 .btn .btn-default gravatar transitions command glyphicon glyphicon-record"  data-id="3" data-command="5">




                </button>

                <!--Music FM Code-->
                <button class="col-xs-3 .btn .btn-default gravatar transitions command glyphicon glyphicon-plane"  data-id="3" data-command="6">




                </button>

            </div>
        </div>

    </div>
    <div style = "height:10px;"></div>
</div>
<iframe src="http://192.168.1.87/#remote" seamless="" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;height="100%" width="100%"></iframe>
