<div class="container col-xs-12 col-md-8 col-md-offset-2 " id="custom">
    <h2>Custom Command Switch</h2>
    <input id="customCode" type="tel"/>
    <input id='submitCustom' type="submit" value="Send">
    <button id="close" onclick="$('#custom').slideToggle( 'slow' );" class="btn btn-default glyphicon glyphicon-remove"></button>

</div>