<div class="commands">
    <button class=".btn .btn-default refresh glyphicon glyphicon-refresh col-xs-6 col-sm-6"></button>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle col-xs-6 col-sm-6" type="button" id="menu1" data-toggle="dropdown">Menu
            <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li class='custombtn' role="presentation"><a role="menuitem" tabindex="-1" href="#">Custom Command</a></li>
            <li class='addbtn' role="presentation"><a role="menuitem" tabindex="-1" href="#">Add Switch</a></li>
            <li role="presentation" class="divider"></li>
            <li onclick="$('.page').addClass('hidden');" role="presentation"><a role="menuitem" tabindex="-1" href="#">Remote Control</a></li>
        </ul>
    </div>
</div>
